# Listas
__Crear una Lista__

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'];

__Acceder a Elementos de la Lista por Índice__

In [ ]:
print('The first planet is', planets[0]);
print('The second planet is', planets[1]);
print('The third planet is', planets[2]);

__Longitud de una Lista__

In [ ]:
number_of_planets = len(planets);
print('There are', number_of_planets, 'planets in the solar system.');

__Agregar Valores a la Lista__

In [ ]:
planets.append('Pluto');
number_of_planets = len(planets);
print('There are actually', number_of_planets, 'planets in the solar system.');

__Eliminar Valores de la Lista__

In [ ]:
planets.pop();
number_of_planets = len(planets);
print('No, there are definitely', number_of_planets, 'planets in the solar system.');

__Índices Negativos__

In [18]:
print('The last planet is', planets[-1]);
print('The penultimate planet is', planets[-2]);

The last planet is Neptune
The penultimate planet is Uranus

__Buscar un Valor en la Lista__

In [19]:
jupiter_index = planets.index('Jupiter');
print('Jupiter is the', jupiter_index + 1, 'planet from the sun');

Jupiter is the 5 planet from the sun

__Almacenar Números en Listas__

In [21]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12];

__min() y max()__

In [22]:
bus_weight = 12650;

print('On Earth, a double-decker bus weighs', bus_weight, 'kg');
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg');
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg');

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

__Slice List__

In [23]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'];
planets_before_earth = planets[0:2];
print(planets_before_earth);

['Mercury', 'Venus']

In [26]:
planets_after_earth = planets[3:8];
print(planets_after_earth);

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

__Uniendo Listas__

In [27]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe'];
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto'];

regular_satellite_moons = amalthea_group + galilean_moons;
print('The regular satellite moons of Jupiter are', regular_satellite_moons);

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

__Ordenar Listas__

In [28]:
regular_satellite_moons.sort();
print("The regular satellite moons of Jupiter are", regular_satellite_moons);

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [29]:
regular_satellite_moons.sort(reverse=True);
print("The regular satellite moons of Jupiter are", regular_satellite_moons);

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']